{% extends 'layout.html.twig' %}

{% block title %}Cafés{% endblock %}

{% block body %}
    <section class="page-section clearfix">
        <div class="container mb-5">
            <div class="about-heading-content">
                    <h1 class="titles">
                        <span class="section-heading-lower text-uppercase font-weight-bold justify-content-center d-flex ">Cafés</span>
                    </h1>
            </div>
            <div class="intro-coffee mt-5">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                     src="{{ asset('build/coffeeImages/coffee_beans.jpg') }}"
                     alt="café">
                <div class="intro-text left-0  text-center bg-faded p-11 mt-5 mb-3 rounded">
                    <h2 class="section-heading-coffee mb-2">
                        <span class="section-heading-lower-coffee mt-5">Les 5 règles d'or pour préparer le café.</span>
                    </h2>
                    <hr/>
                    <ol class="text-left mr-5 ml-5 mb-5 colorli">
                        <li>Adapter la mouture au type de cafetière :
                            <ul class="text-left starli">
                                <li>Extrêmement fine pour le café turc.</li>
                                <li>Fine pour les machines expresso avec 15 bars de pression.</li>
                                <li>Moyenne pour les cafetières 'filtre papier'.</li>
                                <li>Moyenne à grasse pour les cafetières italiennes ou à pistons.</li>
                            </ul>
                        </li>
                        <li>Utiliser une eau peu calcaire frémissante à 90-95°.</li>
                        <li>Equilibrer le dosage à 7g par tasse pour un expresso et 10g par tasse pour un filtre.</li>
                        <li>Bien nettoyer la cafetière.</li>
                        <li>Préferez les tasses en porcelaine pour la dégustation.</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section>
        {% for area, coffees in coffeeByArea %}
            <div class="page-section ctb">
                <div class="ctb-inner bg-faded rounded mt-5">
                    <h2>
                        <span class="area d-flex justify-content-center mt-5"> {{ area }}</span>
                    </h2>
                    <div class="row d-flex justify-content-between">
                        {% for coffee in coffees %}
                            <article class="col-4">
                                <div class="card ml-3 mr-3 mt-4 mb-4">
                                    {% if coffee.coffeeImage is empty %}
                                        <img class="card-img-top"
                                             src="{{ asset("build/accessoryImages/logo.jpg") }}"
                                             alt="café {{ coffee.soil }}">
                                    {% else %}
                                        <img class="card-img-top"
                                             src="{{ vich_uploader_asset(coffee, 'coffeeImageFile') }}"
                                             alt="café {{ coffee.soil }}">
                                    {% endif %}
                                    <div class="ard-body">
                                        <div class="bg-faded rounded p-2 text-center">
                                            <h3>
                                        <span class="linkCoffee card-text"><a
                                                    href="{{ path('coffee_category_show', {'id': coffee.id}) }}">{{ coffee.soil }}</a></span>
                                            </h3>
                                            <hr/>
                                            <p class="card-text text-center">
                                                <small class="text-muted">{{ coffee.country|country }}</small>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
