{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des cafés{% endblock %}

{% block body %}
    <div class="container">
    <h1>Liste des cafés</h1>
        <div class="mb-5 mt-5">
            <a type="button" class="btn btn-outline-secondary" href="{{ path('coffee_new') }}"><i class="fa fa-plus"></i> Ajouter un nouveau café</a>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th><i class="fas fa-globe-americas"></i> Région du monde</th>
                <th><i class="fas fa-flag"></i> Pays</th>
                <th><i class="fas fa-spa"></i> Terroir</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for coffee in coffees %}
            <tr>
                <td class="col-3">{{ coffee.category.title }}</td>
                <td class="col-3">{{ coffee.country|country }}</td>
                <td class="col-3">{{ coffee.soil }}</td>
                <td class="col-3">
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('coffee_show', {'id': coffee.id}) }}"><i class="far fa-eye"></i> Voir</a>
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('coffee_edit', {'id': coffee.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun café enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
