{% extends 'layout.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block body %}
    <section class="page-section clearfix">
        <div class="about-heading-content">
            <h1 class="titles">
                <span class="section-heading-lower text-uppercase font-weight-bold justify-content-center d-flex ">Accessoires</span>
            </h1>
        </div>
    </section>
    <section>
        <div class="row d-flex justify-content-between mt-5">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/bodum.jpg') }}"
                         alt="bodum">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4 ">
                            <span class="section-heading-lower d-flex justify-content-center d-flex ">Bodum</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Cafetières à piston</li>
                            <li>Verres</li>
                            <li>Tasses</li>
                            <li>Accessoires café</li>
                            <li>Moulin à grain</li>
                            <li>Thermos</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/jura.jpg') }}"
                         alt="Jura">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">Jura</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Machines expresso tout automatique</li>
                            <li>Kits de nettoyage machine</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/artea.jpg') }}"
                         alt="artea">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">Artea</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Théières fonte</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/forlife.jpg') }}"
                         alt="forlife">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">For Life</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Théières</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/bialetti.jpg') }}"
                         alt="bialetti">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">Bialetti</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Machines à café italienne</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/delonghi.jpg') }}"
                         alt="delonghi">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">De'Longhi</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Machines expresso tout automatique</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/contigo.jpg') }}"
                         alt="contigo">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">Contigo</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Thermos étanches</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/accessoryImages/gefu.jpg') }}"
                         alt="gefu">
                    <div class="bg-faded card-accessory content-media about-heading-content rounded p-2">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower d-flex justify-content-center">Gefu</span>
                        </h2>
                        <hr/>
                        <ul class="accessoryli">
                            <li>Machines à café italienne</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
