{% extends 'layoutAdmin.html.twig' %}

{% block title %}Sous-catégories{% endblock %}

{% block body %}
    <div class="container">
    <h1>Sous-catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
            <tr>
                <td class="col-8"><i class="fas fa-globe-africa"></i>{{ subcategory.name }}</td>
                <td class="col-4">
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('subcategory_show', {'id': subcategory.id}) }}"><i class="far fa-eye"></i> Voir</a>
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('subcategory_edit', {'id': subcategory.id}) }}"><i class="fas fa-pencil-alt"></i> Éditer</a>
                    {{ include('admin/subcategory/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a type="button" class="btn btn-outline-secondary" href="{{ path('subcategory_new') }}">Ajouter une nouvelle sous-catégorie</a>
{% endblock %}
