{% extends 'base.html.twig' %}

{% block title %}TeaProduct{% endblock %}

{% block body %}
    <h1>TeaProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tea_product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tea_product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tea_product.description }}</td>
            </tr>
            <tr>
                <th>Hightlighted</th>
                <td>{{ tea_product.hightlighted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Novelty</th>
                <td>{{ tea_product.novelty ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>TastingNote</th>
                <td>{{ tea_product.tastingNote }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tea_product_index') }}">back to list</a>

    <a href="{{ path('tea_product_edit', {'id': tea_product.id}) }}">edit</a>

    {{ include('tea_product/_delete_form.html.twig') }}
{% endblock %}
