{% extends 'layout.html.twig' %}


{% block title %}Nous contacter{% endblock title %}

{% block body %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-lower">Contactez-nous</span>
                            <hr/>
                        </h2>
                        <div>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="form-group row">
                                <div class="col-sm-9"></div>
                                <div class="col-sm-3">
                                    <input type="submit" value="Envoyer" class="btn btn-primary"/>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-lower">Nos horaires</span>
                            <hr/>
                        </h2>
                        <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Mon' ? 'today' }}">
                                Lundi
                                <span class="ml-auto">14h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Tue' ? 'today' }}">
                                Mardi
                                <span class="ml-auto">09h-13h 14h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Wed' ? 'today' }}">
                                Mercredi
                                <span class="ml-auto">09h-13h 14h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Thu' ? 'today' }}">
                                Jeudi
                                <span class="ml-auto">09h-13h 14h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Fri' ? 'today' }}">
                                Vendredi
                                <span class="ml-auto">09h-13h 14h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Sat' ? 'today' }}">
                                Samedi
                                <span class="ml-auto">09h-19h</span>
                            </li>
                            <li class="list-unstyled-item list-hours-item d-flex {{ 'now'|date('D') =='Sun' ? 'today' }}">
                                Dimanche
                                <span class="ml-auto">Fermé</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 mx-auto global-map">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading">
                            <span class="section-heading-lower">Nous situer</span>
                        </h2>
                        <hr/>
                        <iframe class="map"
                                src="https://www.openstreetmap.org/export/embed.html?bbox=1.9035775509927477%2C47.89828110211491%2C1.906519934282085%2C47.8997862439651&amp;layer=mapnik&amp;marker=47.89903367850973%2C1.9050487426374048"></iframe>
                        <br/>
                        <small>
                            <a class="link-map" href="https://www.openstreetmap.org/?mlat=47.89903&amp;mlon=1.90505#map=19/47.89903/1.90505&amp;layers=N">Afficher
                                une carte plus grande</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
