{% extends 'layout.html.twig' %}

{% block title %}Thés{% endblock %}

{% block body %}
    <h1 class="section-heading mb-4 text-center">
        <span class="section-heading-lower">{{ category.title }}</span>
        <hr class="mb-5">
    </h1>
    <section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    {% for familyTea, teas in teaByFamilyTea %}
                        <h2>
                            <span class="section-heading-upper mt-4">{{ familyTea }}</span>
                        </h2>
                        {% for tea in teas %}
                            <p class="text-left ml-5 mt-4"><span class="oblic font-weight-bold">{{ tea.name }}</span>
                                : {{ tea.ingredients }}</p>
                            {% if tea.feature is not empty %}
                                <p class="text-left ml-5 mb-5"> Note : {{ tea.feature }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="text-center m-4">
            <span class="linkCoffee"><a href="{{ path('tea_category') }}">Retour</a></span>
        </div>
    </div>

{% endblock %}