{% extends 'layout.html.twig' %}

{% block title %}Thés{% endblock %}

{% block body %}

<h1 class="section-heading mb-4 text-center">
    <span class="section-heading-lower">{{ category.title }}</span>
    <hr/>
</h1>
<section class="page-section cta">
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            {% for familyTea, teas in teaByFamilyTea %}
                <div class="cta-inner text-center rounded mt-5">
                    <h2>
                        <span class="section-heading-upper mt-4">{{ familyTea }}</span>
                    </h2>
                    {% for tea in teas %}
                        <p class="text-left ml-5 "><span class="oblic font-weight-bold">{{ tea.name }}</span> : {{ tea.ingredients }}</p>
                        {% if tea.feature is not empty %}
                            <p class="showCat text-left ml-5 small mb-4">Note : {{ tea.feature }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="mt-5 mb-5">
                <a  class="btn btn-outline-dark" href="{{ path('tea_category') }}"><i class="fas fa-reply"></i> Retour</a>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}