{% extends 'layout.html.twig' %}

{% block title %}infusion détail{% endblock %}

{% block body %}
<h1 class="section-heading mb-4 text-center">
    <span class="section-heading-lower">{{ category.title }}</span>
    <hr class="mb-5">
</h1>
<section class="page-section cta">
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            {% for familyInfusion, infusions in infusionByFamilyInfusion %}
            <div class="cta-inner text-center rounded mt-5">
                <h2>
                    <span class="section-heading-upper mt-4">{{ familyInfusion }}</span>
                </h2>
                {% for infusion in infusions %}
                    <p class="text-left ml-5 mt-4">
                        <span class="oblic font-weight-bold">{{ infusion.name }}</span>
                        : {{ infusion.ingredients }}
                        <br/> Note : {{ infusion.feature }}
                    </p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="mt-5 mb-5">
                <a class="btn btn-outline-dark" href="{{ path('infusion_category') }}"><i class="fas fa-reply"></i> Retour</a>

            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}