{% extends 'layout.html.twig' %}
{% block title %}infusion détail{% endblock %}
{% block body %}
    <h1 class="section-heading mb-4 text-center">
        <span class="section-heading-lower">{{ category.title }}</span>
        <hr class="mb-5">
    </h1>
    <div class="intro-text left-0  text-center bg-faded p-5 ml-5 mt-5 mb-5 rounded">
        {% for familyInfusion, infusions in infusionByFamilyInfusion %}
            <h2>
                <span class="section-heading-upper mt-4">{{ familyInfusion }}</span>
            </h2>
            {% for infusion in infusions %}

                <p class="text-left ml-5 mt-4">
                    <span class="oblic font-weight-bold">{{ infusion.name }}</span> : {{ infusion.ingredients }}
                    <br/> Note : {{ infusion.feature }}
                </p>
            {% endfor %}
        {% endfor %}
        <a href="{{ path('infusion_category') }}">retour</a>
    </div>
{% endblock %}