{% if highlightedSection > 0 %}
    <div class="product-item-title d-flex">
        <div class="bg-faded d-flex ml-auto novelty-name rounded">
            <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Produits du mois</span>
            </h2>
        </div>
    </div>
    <div class="row novelty-card justify-content-around">
        {% for coffee in coffeesMonth %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ vich_uploader_asset(coffee, 'coffeeImageFile') }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center novelty">Café
                        </h5>
                        <hr/>
                        <p class="card-text text-center">{{ coffee.country|country }}<br/>
                            {{ coffee.soil }}</p>
                        <a href="{{ path('coffee_category_show', {'id': coffee.id}) }}" class="btn btn-primary">Voir le
                            produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for tea in teasMonth %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('build/teaImages/the.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center novelty">Thé
                        </h5>
                        <hr/>
                        <p class="card-text text-center">{{ tea.name }}<br/>
                            {{ tea.familyTea.name }}</p>
                        <a href="{{ path('tea_category_show', {'id': tea.category.id }) }}" class="btn btn-primary">Voir
                            le
                            produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for infusion in infusionsMonth %}
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('build/infusionImages/infusion.jpg') }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center novelty">Infusion
                        </h5>
                        <hr/>
                        <p class="card-text text-center">{{ infusion.name }}<br/>
                            {{ infusion.familyInfusion.name }}</p>
                        <a href="{{ path('infusion_category_show', {'id': infusion.category.id }) }}"
                           class="btn btn-primary">Voir le produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
