{% extends 'layout.html.twig' %}

{% block title %}Épicerie fine{% endblock %}

{% block body %}
<section class="page-section clearfix">
    <div class="container">
        <div class="about-heading-content">
            <h1 class="titles">
                <span class="section-heading-lower text-uppercase font-weight-bold justify-content-center d-flex ">Épicerie fine</span>
            </h1>
        </div>
    </div>
</section>
    <section class="container">
        <div class="row d-flex justify-content-between mt-5">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset("/build/groceryImages/jam.jpg") }}"
                         alt="jam">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Confitures</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Favols</li>
                                <li>Daniel Boudet</li>
                                <li>Charles Antona</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset("/build/groceryImages/chocolate.jpg") }}"
                         alt="chocolat">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Chocolats</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Weiss</li>
                                <li>Mazet</li>
                                <li>Nocciotella</li>
                                <li>Chocolats de l'île de Ré</li>
                                <li>Chez mon chocolatier</li>
                                <li>Lauzea (chocolatier de Martinique)</li>
                                <li>Monbana</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/biscuit.jpg') }}"
                         alt="biscuit">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Biscuits</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Les sablés de Nancay</li>
                                <li>Biscuits Alain Yvelin </li>
                                <li>Biscuiterie du Quercy</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/pastry.jpg') }}"
                         alt="logo">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Pâtisseries</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Maison Bruyère</li>
                                <li>Les délices de Marie</li>
                                <li>Gato Mariem</li>
                                <li>Le comptoir de Mathilde</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            </div>
            <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/kit.jpg') }}"
                         alt="kit">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center">Kit de préparation</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Légendes gourmandes</li>
                                <li>Quai Sud</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/honey.jpg') }}"
                         alt="miel">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Miellerie</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Maison Peltier</li>
                                <li>La miellerie de Férolles</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            </div>
            <div class="row d-flex justify-content-between">
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/spice.jpg/') }}"
                         alt="épices">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4 ">
                                <span class="section-heading-lower d-flex justify-content-center d-flex ">Épices</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>Terre exotique</li>
                                <li>Grand choix d'épices, sels, poivres, mélanges d'épices.</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-5">
                <article class="page-section about-heading">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
                         src="{{ asset('build/groceryImages/salt.jpg') }}"
                         alt="sel">
                    <div class="about-heading-content">
                        <div class="bg-faded card-grocery rounded p-2">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower d-flex justify-content-center">Plaisir salé</span>
                            </h2>
                            <hr/>
                            <ul class="accessoryli">
                                <li>L'épicerie de Provence</li>
                                <li>Les délices du Luberon</li>
                                <li>Sigdal</li>
                                <li>Conserverie des saveurs</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

{% endblock %}
