{% extends 'base.html.twig' %}

{% block title %}Tea index{% endblock %}

{% block body %}
    <h1>Tea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Hightlighted</th>
                <th>Novelty</th>
                <th>Feature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tea in teas %}
            <tr>
                <td>{{ tea.id }}</td>
                <td>{{ tea.name }}</td>
                <td>{{ tea.ingredients }}</td>
                <td>{{ tea.hightlighted ? 'Yes' : 'No' }}</td>
                <td>{{ tea.novelty ? 'Yes' : 'No' }}</td>
                <td>{{ tea.feature }}</td>
                <td>
                    <a href="{{ path('tea_show', {'id': tea.id}) }}">show</a>
                    <a href="{{ path('tea_edit', {'id': tea.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tea_new') }}">Create new</a>
{% endblock %}
