{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des infusions{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="admin-title">Liste des infusions</h1>
        <div class="mb-5 mt-5">
            <a class="btn btn-outline-dark" href="{{ path('infusion_new') }}"><i
                        class="fa fa-plus"></i> Ajouter une nouvelle infusion</a>
        </div>

        <table class="table">
            <thead>
            <tr>
            
                <th><i class="fas fa-scroll"></i> Titre</th>
                <th><i class="fas fa-leaf"></i> Nom</th>
                <th><i class="fas fa-star"></i> Nouveauté</th>
                <th><i class="fas fa-star"></i> Produit du mois</th>
                <th><i class="fas fa-tools"></i> Action</th>

            </tr>
            </thead>
            <tbody>
            {% for infusion in infusions %}
                <tr>
                    <td class="col-md-2">{{ infusion.category.title }}</td>
                    <td class="col-md-2">{{ infusion.name }}</td>
                    {% if infusion.novelty == true %}
                        <td class="col-md-2"><a class="btn btn-outline-dark"
                               href="{{ path('infusion_novelty', {'id': infusion.id}) }}"><i class="fas fa-toggle-off"></i> Off</a></td>
                    {% else %}
                        <td class="col-md-2"><a class="btn btn-outline-dark"
                               href="{{ path('infusion_novelty', {'id': infusion.id}) }}"><i class="fas fa-toggle-on"></i> On</a></td>
                    {% endif %}
                    {% if infusion.highlighted == true %}
                        <td class="col-md-3"><a class="btn btn-outline-dark"
                               href="{{ path('infusion_highlighted', {'id': infusion.id}) }}"><i class="fas fa-toggle-off"></i> Off</td>
                    {% else %}
                        <td class="col-md-3"><a class="btn btn-outline-dark"
                               href="{{ path('infusion_highlighted', {'id': infusion.id}) }}"><i class="fas fa-toggle-on"></i> On</a></td>
                    {% endif %}
                    <td class="col-md-1">
                        <a class="btn btn-outline-dark"
                           href="{{ path('infusion_edit', {'id': infusion.id}) }}"><i class="fas fa-pencil-alt"></i>
                            Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune infusion enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
