{% extends 'base.html.twig' %}

{% block title %}Infusion index{% endblock %}

{% block body %}
    <h1>Infusion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ingredients</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for infusion in infusions %}
            <tr>
                <td>{{ infusion.id }}</td>
                <td>{{ infusion.name }}</td>
                <td>{{ infusion.ingredients }}</td>
                <td>
                    <a href="{{ path('infusion_show', {'id': infusion.id}) }}">show</a>
                    <a href="{{ path('infusion_edit', {'id': infusion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('infusion_new') }}">Create new</a>
{% endblock %}
