{% extends 'base.html.twig' %}

{% block title %}Infusion{% endblock %}

{% block body %}
    <h1>Infusion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infusion.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ infusion.name }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>{{ infusion.ingredients }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('infusion_index') }}">back to list</a>

    <a href="{{ path('infusion_edit', {'id': infusion.id}) }}">edit</a>

    {{ include('admin/infusion/_delete_form.html.twig') }}
{% endblock %}
